apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.backend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.backend.name }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.service.port }}
          env:
            # כאן אנחנו בונים את הכתובת ל-DB בעזרת המפתחות המדויקים מהסיקרט שלך
            - name: DATABASE_URL
              value: "postgresql://$(db-user):$(db-password)@{{ .Values.database.host }}:5432/{{ .Values.database.name }}"
            - name: DB_HOST
              value: "{{ .Values.database.host }}"
            - name: DB_NAME
              value: "{{ .Values.database.name }}"
          envFrom:
            - secretRef:
                name: twodo-secrets