apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.backend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.backend.name }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.service.port }}
          # --- השורות שהוספנו כדי לחבר למסד הנתונים ---
          env:
            - name: DATABASE_URL
              value: "postgresql://{{ .Values.backend.database.user }}:{{ .Values.backend.database.password }}@{{ .Values.backend.database.host }}:5432/{{ .Values.backend.database.name }}"