apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      volumes:
        - name: app-static
          emptyDir: {}
      initContainers:
        - name: env-injector
          image: busybox
          command: ["sh", "-c", "cp -R /usr/share/nginx/html/* /tmp/static/ && find /tmp/static -type f -name '*.js' | xargs sed -i 's|http://localhost:5001|'${REACT_APP_BACKEND_URL}'|g'"]
          env:
            - name: REACT_APP_BACKEND_URL
              value: {{ .Values.frontend.env.backendUrl | quote }}
          volumeMounts:
            - name: app-static
              mountPath: /tmp/static
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: app-static
              mountPath: /usr/share/nginx/html