apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      # הגדרת שטח אחסון זמני לשיתוף הקבצים המעודכנים
      volumes:
        - name: app-static
          emptyDir: {}
      
      initContainers:
        - name: env-injector
          image: busybox
          # הפקודה מבצעת 3 פעולות: 
          # 1. העתקת הקבצים המקוריים מהאימג' לתיקייה הזמנית. 
          # 2. חיפוש הכתובת localhost והחלפתה ב-/api (או מה שהגדרת ב-Values).
          # 3. וידוא שהחלפה התבצעה בכל קבצי ה-JS.
          command: ["sh", "-c", "cp -R /usr/share/nginx/html/* /tmp/static/ && find /tmp/static -type f -name '*.js' | xargs sed -i 's|http://localhost:5001|'${REACT_APP_BACKEND_URL}'|g'"]
          env:
            - name: REACT_APP_BACKEND_URL
              value: {{ .Values.frontend.env.backendUrl | quote }}
          volumeMounts:
            - name: app-static
              mountPath: /tmp/static
      
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: 80 # רוב האימג'ים של Nginx/React עובדים ב-80. ודאי שזה תואם לאימג' שלך.
          # טעינת הקבצים ה"מתוקנים" מה-Init Container
          volumeMounts:
            - name: app-static
              mountPath: /usr/share/nginx/html