apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: 5000
          # זה החלק הקריטי שמונע את שגיאת ה-localhost ב-Console
          env:
            - name: REACT_APP_BACKEND_URL
              # אנחנו מושכים את הערך שהגדרנו ב-values.yaml
              value: {{ .Values.frontend.env.backendUrl | quote }}