apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      # הגדרת שטח אחסון זמני לשיתוף הקבצים המעודכנים בין הקונטיינרים
      volumes:
        - name: app-static
          emptyDir: {}
      
      # זה ה"מנתח" - הוא רץ לפני שהאפליקציה עולה ומתקן את הקבצים
      initContainers:
        - name: env-injector
          image: busybox
          # הפקודה מעתיקה את הקבצים המקוריים, ומחליפה את localhost בנתיב היחסי שנגדיר
          command: ["sh", "-c", "cp -R /usr/share/nginx/html/* /tmp/static/ && grep -rl 'http://localhost:5001' /tmp/static | xargs sed -i 's|http://localhost:5001|'${REACT_APP_BACKEND_URL}'|g'"]
          env:
            - name: REACT_APP_BACKEND_URL
              value: {{ .Values.frontend.env.backendUrl | quote }}
          volumeMounts:
            - name: app-static
              mountPath: /tmp/static
      
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: 5000
          # טעינת הקבצים ה"מתוקנים" במקום המקוריים
          volumeMounts:
            - name: app-static
              mountPath: /usr/share/nginx/html