# הגדרות עבור ה-Backend
backend:
  name: twodo-backend
  replicaCount: 1
  image:
    # החלפה לכתובת המלאה של ה-ECR
    repository: 993412842562.dkr.ecr.us-east-1.amazonaws.com/twodo-backend
    tag: latest
    pullPolicy: Always
  service:
    port: 5001

# הגדרות עבור ה-Frontend
frontend:
  name: twodo-frontend
  replicaCount: 1
  image:
    # החלפה לכתובת המלאה של ה-ECR
    repository: 993412842562.dkr.ecr.us-east-1.amazonaws.com/twodo-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: LoadBalancer 
    port: 5002       
    targetPort: 5000 

# הגדרות מסד נתונים
database:
  host: postgres-service
  name: postgres-db