# הגדרות עבור ה-Backend
backend:
  name: twodo-backend
  replicaCount: 1
  image:
    repository: twodo-backend
    tag: latest
    pullPolicy: Always
  service:
    port: 5001 # זה הפורט שה-deployment ימשוך

# הגדרות עבור ה-Frontend
frontend:
  name: twodo-frontend
  replicaCount: 1
  image:
    repository: twodo-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: LoadBalancer 
    port: 5002       
    targetPort: 5000 

# הגדרות מסד נתונים
database:
  host: postgres-service
  name: postgres-db