frontend:
  name: twodo-frontend
  replicaCount: 1
  image:
    repository: 993412842562.dkr.ecr.us-east-1.amazonaws.com/twodo-frontend
    tag: latest
    pullPolicy: Always
  env:
    backendUrl: "/api"
  service:
    port: 80

backend:
  name: twodo-backend
  replicaCount: 1
  image:
    repository: 993412842562.dkr.ecr.us-east-1.amazonaws.com/twodo-backend
    tag: latest
    pullPolicy: Always
  service:
    port: 5001

database:
  name: postgres-db
  host: postgres-service

ingress:
  enabled: true
  name: twodo-app-ingress
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'