# הגדרות עבור ה-Backend
backend:
  name: twodo-backend
  replicaCount: 1
  image:
    repository: twodo-backend # ודאי שזה תואם לשם ב-Docker Hub (למשל amitbush/twodo-backend)
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5001

# הגדרות עבור ה-Frontend
frontend:
  name: twodo-frontend
  replicaCount: 1
  image:
    repository: twodo-frontend # ודאי שזה תואם לשם ב-Docker Hub
    tag: latest
    pullPolicy: Always
  service:
    type: LoadBalancer 
    port: 5002       
    targetPort: 5000 

# הגדרות מסד נתונים (עבור ה-Service הפנימי בלבד)
database:
  host: postgres-service
  name: postgres-db